@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.container-custom-md {
  width: min(100%, 85rem);
  margin-inline: auto;
}

.text-balance {
  text-wrap: balance;
}

@layer base {
  :root {
    --primary: 350.21deg 90.48% 58.82%;
  }
}
